.home{
    display: block;
  }
  .home {
    width: 100%;
    height: 100%;
    margin: 0;
  }
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  .App{
    width: 100%;
    height: 100%;
    margin: 0;
  }
  /* this header section */
  header{
    /* height: 10%; */
    height: 72px;
    max-height: 70px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  }
  header {
    width: 100%;
    background-color: white;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  }
  .header-container{
    width: 80%;
    max-width: 1300px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .left-side-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .left-side-header img{
    width: 100px;
  }
  .menu-header {
    margin-left: 20px;
  }
  .right-side-header{
    width: auto;
    display: flex;
    flex-direction: row;
  }
  .masuk, .daftar{
    width: 90px;
    height: 30px;
    margin-left: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    text-decoration: none;
  }
  .masuk{
    background-color: #1FD07D;
    border: 1px solid #1FD07D;
    color: white;
    width: 65px;
    font-size: 14px;
    border-radius: 2px;
  }
  .menu-header{
    display: none;
  }
  .daftar{
    background-color: white;
    border: 1px solid #1FD07D;
    color: black;
    width: 65px;
    font-size: 14px;
    border-radius: 2px;
    /* display: none; */
  }
  @media only screen and (min-width: 1100px){
    .menu-header{
      display: block;
    }
    .menu-header a{
      margin-left: 50px;
      color: black;
      font-weight: 600;
      text-decoration: none;
    }
    .daftar{
      display: flex;
    }
  }
  /* this jumbotron section */
  .jumbotron{
    width: 100%;
    height: 100%;
    max-height: 800px;
    min-height: 750px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
  }
  .jumbotron-container-home{
    height: 100%;
    width: 90%;
    margin: 0 5%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
  }
  .text-jumbotron {
    width: 100%;
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
  }
  h1{
    max-width: 300px;
    height: 50%;
    display: flex;
    font-family: 'lato';
    flex-direction: column;
    justify-content: center;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    margin: 0;
  }
  p.description {
    display: flex;
    font-family: 'lato';
    flex-direction: column;
    justify-content: center;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    max-width: 300px;
    height: 10%;
    color: #727272;
    margin: 0
  }
  .button-jumbotron {
    height: 20%;
    display: flex;
    flex-direction: row;
    width: 320px;
    justify-content: center;
    align-items: center;
  }
  .coba-sekarang, .pelajari{
    width: 100px;
    height: 40px;
    margin: 5px;
    font-size: 12px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .coba-sekarang {
    background-color: #1FD07D;
    border: 2px solid #1FD07D;
    color: white;
    font-weight: bold;
  }
  .pelajari{
    border: 2px solid #4D4D4D;
    color: #4D4D4D;
  }
  .pelajari p{
    font-weight: bold;
  }
  .hero {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  .hero img{
    width: auto;
    height: 100%;
  }
  .header-container{
    width: 80%;
  }
  
  @media only screen and (min-width: 1100px){
    .jumbotron-container-home {
      max-width: 1300px;
      width: 80%;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-top: 50px;
    }
    .text-jumbotron{
      width: 45%;
      height: 380px;
      min-width: 450px;
      align-items: flex-start;
    }
    h1{
      width: 100%;
      max-width: 450px;
      height: auto;
      text-align: left;
      font-size: 48px;
      line-height: 66px;
    }
    p.description {
      
      text-align: left;
    }
    .button-jumbotron{
      width: 220px;
      justify-content: space-between;
    }
    .hero {
      width: 55%;
    }
    .hero img{
      width: 100%;
      height: auto;
    }
    .coba-sekarang, .pelajari{
      margin: 0;
      border-radius: 0;
    }
  }
  
  /* feature and benefit section  */
  .feature-benefit {
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    margin-left: 10%;
  }
  
  .list img {
    width: 70px;
  }
  .icon-feature {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .text-feature{
    width: 70%;
  }
  .feature h2{
    font-size: 24px;
    font-family: 'lato';
    font-weight: 600;
    width: 80%;
    margin-left: 10%;
  }
  .text-feature h3{
    font-size: 18px;
  }
  .text-feature p{
    font-size: 16px;
    line-height: 24px;
    color: #727272;
  }
  .mockup-design {
    width: 90%;
    margin: 20px 5%;
  }
  .mockup-design img{
    width: 100%;
  }
  .benefit{
    width: 100%;
    display: flex;
    overflow-x: auto;
    margin-bottom: 50px;
  }
  
  .benefit-container{
    width: 800px;
    padding: 20px 0;
    display: flex;
    padding-left: 25px;
  }
  .benefit-box {
    width: 225px;
    height: 320px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 25px;
    background-color: white;
  }
  .benefit-one {
    box-shadow: 7px 7px 18px rgba(210, 250, 223, 0.5);
    border: 1px solid rgba(210, 250, 223, 0.3);
  }
  .benefit-two {
    box-shadow: 7px 7px 18px rgba(255, 235, 226, 1);
    border: 1px solid rgba(255, 235, 226, 0.3);
  }
  .benefit-three {
    box-shadow: 7px 7px 18px rgba(225, 210, 250, 1);
    border: 1px solid rgba(225, 210, 250, 0.3);
  }
  .icon-picture{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    box-shadow: inset 4px 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .benefit-one .icon-picture{
    background-color: #D2FADF;
  }
  .benefit-two .icon-picture{
    background-color: #FFEBE2;
  }
  .benefit-three .icon-picture{
    background-color: #E1D2FA;
  }
  .icon-picture img{
    width: 70%;
    margin: 0 15%;
  }
  .text-benefit{
    width: 80%;
    margin: 0 10%;
  }
  .text-benefit p{
    font-size: 14px;
    line-height: 24px;
    color: #808080;
  }
  @media only screen and (min-width: 1100px){
    .feature{
      width: 80%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    .list-feature{
      width: 60%;
    }
    .feature h2 {
      width: 100%;
      font-size: 32px;
      margin: 20px 0;
    }
    .mockup-design{
      width: 40%;
    }
    .benefit {
      justify-content: center;
      margin: 50px 0;
    }
    .benefit-container{
      width: 80%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    .benefit-box{
      margin: 0 50px;
    }
  }
  /* banner section  */
  
  .banner {
    width: 90%;
    height: auto;
    padding: 20px 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 3px solid #1FD07D;
    border-radius: 20px;
    background-color: white;
  }
  .hero-banner{
    width: 85%;
    margin: 0 auto;
  }
  .hero-banner img {
    width: 100%;
  }
  .text-banner {
    width: 80%;
    height: auto;
  }
  .text-banner h3{
    font-size: 20px;
    line-height: 26px;
  }
  .text-banner p{
    font-size: 14px;
    color: #727272;
    line-height: 20px;
  }
  .text-banner a {
    font-size: 14px;
    padding: 10px;
    background-color: #1FD07D;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    display: inline-block;
  }
  @media only screen and (min-width: 1100px){
    .banner {
      flex-direction: row;
      height: 400px;
      border-radius: 20px;
      overflow: hidden;
    }
    .hero-banner {
      padding-top: 140px;
      width: 25%;
    }
    .hero-banner img{
      width: 100%;
    }
    .text-banner{
      width: 40%;
      padding: 20px 10%;
    }
    .text-banner h3{
      font-size: 30px;
      line-height: 44px;
    }
    .text-banner p{
      font-size: 16px;
      color: #727272;
      line-height: 24px;
    }
  }
  
  /* digital page section */
  
  .digital-page{
    width: 100%;
    height: auto;
    margin: 50px 0;
  }
  .digital-page h3{
    margin: 50px 10%;
    font-size: 20px;
  }
  .digital-page img {
    width: 250px;
    border-radius: 20px;
    padding-right: 50px;
  }
  
  .digital-page-scroll{
    overflow-x: auto;
    width: 90%;
    padding-left: 10%;
  }
  .digital-page-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding-right: 20px;
  }
  
  
  
  .footer {
    width: 100%;
    height: 40px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
  
  .footer-container {
    width: 80%;
    height: 60px;
    margin: 0 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .footer img {
    width: 80px;
  }
  .footer p{
    font-size: 12px;
  }