html{
    background-color: white;
}
.login{
    width: 100%;
    height: 100%;
    min-height: 700px;
}
.login-container {
    width: 100%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.form-side{
    width: 90%;
    height: 70%;
    margin: 0 5% 40px 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* display: none; */
}
.form-side h2{
    font-size: 24px;
    margin: 5px;
}
.title-form{
    text-align: center;
    margin-bottom: 20px;
}
.google-button {
    width: 80%;
    max-width: 400px;
    min-width: 250px;
    height: 30px;
    padding: 2px 0;
    border: 1px solid #CCCCCC;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.google-button img{
    width: 8%;
    margin: 0 10px;
}
.line{
    width: 80%;
    min-width: 250px;
    max-width: 400px;
    height: 1px;
    background-color: #CCCCCC;
    margin: 20px 0;
}
.input-form{
    width: 80%;
    min-width: 250px;
    max-width: 400px;
}
.input-container{
    width: 100%;
    height: 30px;
    border: 1px solid #CCCCCC;
    padding: 2px 0;
    overflow: hidden;
    border-radius: 50px;
    margin: 10px 0;
}
.input-container:focus-within{
    border: thin solid #1FD07D;
}
form p{
    margin: 0;
}
input {
    border: none;
    width: 90%;
    height: 100%;
    margin: 0 5%;
    padding: 0;
    background-color: transparent;
    font-size: 16px;
    /* display: none; */
}
.forget-password{
    width: 100%;
    text-align: right;
    padding: 10px 0;
}
.forget-password a{
    color: black;
    text-decoration: none;
}
.login-button-container{
    background-color: #1FD07D;
    margin-top: 10px;
    border: none;
}
.login-button-container input {
    color: white;
    font-weight: bold;
    font-size: 16px;
}
.signup{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
textarea:focus, input:focus{
    outline: none;
}
.jumbotron-side{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    /* display: none; */
}
.jumbotron-container-login{
    width: 70%;
    height: 70%;
    max-width: 300px;
    max-height: 150px;
    padding: 5%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #1FD07D;
}
.jumbotron-side img{
    height: 100%;
    width: auto;
}
.footer{
    width: 100%;
    height: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
@media only screen and (min-width: 1100px){
    .form-side{
        width: 50%;
    }
    .login-container{
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        height: 95%;
        width: 100%;
    }
    .line {
        margin: 40px 0;
        /* background-color: pink; */
    }
    .google-button{
        height: 35px;
    }
    .input-container{
        height: 35px;
    }
    .jumbotron-side{
        width: 50%;
        height: 100%;
        display: flex;
        /* background-color: #1FD07D; */
    }
    .jumbotron-side img {
        width: 90%;
        height: auto;
    }
    .jumbotron-container-login{
        width: 90%;
        max-width: 700px;
        height: 90%;
        max-height: 850px;
        margin: 5%;
        border: 2px solid #1FD07D;
        padding: 0;
    }

    .footer{
        height: 5%;
    }
}