.sidebar{
    width: 15%;
    min-width: 180px;
    height: 100%;
    position: fixed;
    z-index: 1;
    background-color: white;
    box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.1);
}
.sidebar-container{
    display: flex;
    flex-direction: column;
    padding-top: 10%;
}
.sidebar-container p{
    font-size: 16px;
    margin: 0 10px;
}
.menu-items{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    margin: 20px 0;
    cursor: pointer;
}
.menu-active{
    background-color: #F1F1F1;
    color: black;
}
@media only screen and (min-width: 1100px){
    .sidebar{
        position: relative;
    }
}