
.container-collection{
    overflow-x: auto;
}
.row-collection{
    width: 1350px;
    padding-left: 1px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
}
.collection-design{
    width: 150px;
    height: 280px;
    border-radius: 10px;
    background-color: #F1F1F1;
    margin-right: 15px;
}
.add-button-design{
    width: 150px;
    height: 40px;
    background-color: #F1F1F1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}