@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,600;6..12,700;6..12,800&display=swap');
.orange{
    width: 100%;
    /* height: 100%; */
}
.orange-container{
    width: 100%;
    /* height: auto; */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFEBE2;
}
.orange-logo{
    width: 100%;
    margin: 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.orange-logo img{
    width: 100px;
}
.orange-jumbotron{
    height: auto;
}
.jumbotron-main-part{
    overflow: hidden;
    font-family: 'Nunito Sans';
    display: flex;
    flex-direction: column;
    align-items: center;
}
.jumbotron-main-part h1{
    font-size: 50px;
    font-weight: 900;
    line-height: auto;
    font-family: 'Nunito Sans', sans-serif;
}
.jumbotron-main-part p{
    font-size: 18px;
    font-weight: bold;
    margin: 2px 0;
}
.jumbotron-main-part img{
    width: 120%;
}
.jumbotron-main-part button{
    position: absolute;
    bottom: 50px;
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    font-weight: bold;
    background-color: black;
    color: white;
}
.jumbotron-main-text{
    width: auto;
    margin: 20px 0;
}
.orange-main-part{
    width: 100%;
    background-color: #FFEBE2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.description{
    width: 75%;
    height: auto;
    margin: 0 10%;
}
.description p{
    font-size: 16px;
    line-height: 20px;
    color: #4D4D4D;

}
.orange-time-line{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    padding-bottom: 200px;
}
.orange-time-line h4{
    font-size: 18px;
    margin: 0;
}
.orange-time-line p{
    margin: 0;
    color: #4D4D4D;
}
.orange-time-line img{
    width: 250px;
    position: absolute;
    top: 10px;

}
.time-line-1{
    margin-left: 50px;
}
.time-line-2{
    margin-top: 100px;
    margin-right: 150px;
    text-align: right;
}
.time-line-3{
    margin-top: 180px;
    margin-left: 120px;
}
.time-line-4{
    margin-top: 150px;
    margin-right: 120px;
}
.time-line-5{
    margin-top: 150px;
    margin-left: 70px;
}
.time-line-6{
    margin-top: 180px;
    /* margin-left: 70px; */
    z-index: 2;
    text-align: center;
    color: white;
}
@media only screen and (min-width: 1100px){
    .orange{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .orange-container{
        width: 380px;
    }
}